.hidden {
    display:none;
}
.errorsInput{
    color: red;
}
.signup{
    margin-top: 50px;
    height: 100vh;
    padding-left: 530px;
    position: absolute;
    top: 10%;
}
.form-control{
    display: block;
    width: 320px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #0e345a;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.signupbtn{
    position: relative;
    left: 35%;
    border-radius: 10px;
    width: 30%;
}
.signin{
    margin-top: 156px;
    height: 64vh;
    padding-left: 530px;
    position: absolute;
    top: 3%;
}
.signinbtn{
    border-radius: 15px;
    width: 30%;
    position: relative;
    left: 35%;
}
#signinbgr{
    height: 604px;
    width: 100%;
    position: relative;
}
#signupbgr{
    height: 725px;
    width: 100%;
    position: relative;
}
#pagination-container {
    display: flex;
    justify-content: center;
    }
    
    #pagination {
    display: flex;
    color: #505050;
    }
    
    #pagination-list {
    display: flex;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    }
    
    .pagination-button {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid #777;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
    
    .pagination-list-item {
    margin-right: 10px;
    }
    
    .pagination-list-item.active {
    background: #505050;
    color: white;
    }
    
    .pagination-go-first {
    margin-right: 40px;
    position: relative;
    margin-left: 10px;
    }
    
    .pagination-go-first:before {
    position: absolute;
    content: '...';
    right: -33px;
    }
    
    .pagination-go-last {
    margin-left: 40px;
    position: relative;
    margin-right: 10px;
    }
    
    .pagination-go-last:before {
    position: absolute;
    content: '...';
    left: -33px;
    }